* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: sans-serif;
}
header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    background-color: rgba(0, 0, 0, 0.206);
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    z-index:2;
}


.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.408);
    font-family: sans-serif;
    font-size: 1rem;
    border-style: outset;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    
}

.navbar li a {
    color: white;
}


.reDSocial li {
    display: inline;
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items:center;
    gap: 15rem;
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

footer li a {
    gap: 8.75rem;
    color: white
}

footer li a:hover {
padding-left: .375rem;
color: rgb(0, 255, 42);
}

.ubi-html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.1875rem
}


h1{
    color: rgb(10, 8, 8);
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}


h3 {
    color: white;
    font-family: sans-serif;
}

p{
    color: white;
    font-family: sans-serif;
}

/**Index.html**/

.Home {
    background-image: url(../assets/img/fondohtml.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.presentacion-index {
    display: flex;
    background-color: rgba(12, 7, 7, 0.349);
    text-align: center;
    justify-content: center;
}


/**Market.html**/
.Market {
    background-image: url(../assets/img/marketfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


    /**biography.hmtl**/
    .biography {
        background-image: url(../assets/img/biographyfondo.jpg);
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
        background-attachment: fixed;
    }
    .bioGeneral {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.cuadro-1 {
    background-color: rgba(224, 225, 225, 0.39);
    text-align: center;
    padding: 1rem 3rem 1rem 3rem;
    width: 14rem;
    height:20rem;
    border-radius: 15px;
    border: 1px;
    box-shadow: gray;
    overflow:hidden;
    margin: .3125rem;
    
}

.cuadro-1 p{
color: black;
font-size: large;
text-align: center;
}

.cuadroDos {
    background-color: rgba(224, 225, 225, 0.39);
    padding: 1rem 3rem 1rem 3rem;
    width: 14rem;
    height: 20rem;
    border-radius: 15px;
    border: 1px;
    box-shadow: 2px 2px 10px gray;
    overflow: hidden;
    margin: .3125rem;
}

.cuadroDos p{
    color: black;
    font-size: large;
    text-align: center;
    }

/**contactus.html**/
.contact-us {
    background-image: url(../assets/img/contactusfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contacto-form {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 1em;
    gap: 5em;
}

.label-style {
    color: white;
    background-color: rgba(87, 87, 87, 0.62);
}

.probandOsi label {
color: wheat;
text-align: center;
justify-items: center;
align-items: center;
gap: .75rem;
}

/**ubication.html**/
.ubication {
    background-image: url(../assets/img/fondoubication.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/**MEDIA QUERIES**/

@media screen and (max-width: 768px) {
    .presentacion-index h2 {
        padding-top: 1.25rem;
        color: rgb(255, 128, 0);
    }
}

@media screen and (max-width: 425px) {
    .presentacion-index h2 {
        padding-top: 1.25rem;
        color: blue;
    }
}

@media screen and (max-width: 768px) {
    .bioGeneral div {
    width: 100%;
    background-color: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18.75rem;
    background-image: url(../assets/img/inseparable.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    .bioGeneral div p{
        padding-top: 1.25rem;
        color:blueviolet
    }
}

@media screen and (max-width: 425px) {
    .bioGeneral div {
    width: 100%;
    background-color: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18.75rem;
    background-image: url(../assets/img/mujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
}

@media screen and (max-width: 425px) {
    .bioGeneral div p{
        padding-top: 1.25rem;
        color:rgb(243, 14, 124)
    }
}

@media screen and (max-width: 768px) {
    .top-2 li a {
        padding-top: 1.25rem;
        color: brown;
    }
}

@media screen and (max-width: 425px) {
    .top-2 li a {
        padding-top: 1.25rem;
        color: yellow
}
}

@media screen and (max-width: 425px) {
    .navbar {
        padding-top: 1.25rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
